<!DOCTYPE >
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taberna</title>

    <link
      rel="shortcut icon"
      href="/image/Chanut-Role-Playing-Viking.ico"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/page-landig.css" />
    <link rel="stylesheet" href="/css/animation.css" />
  </head>
  <body>
    <div id="page-landing">
      <div id="container">
        <header>
          <!--Cabeçalho do meu site-->
          <p>
            <img
              class="animate-up"
              id="logo"
              src="/image/logo.png"
              width="300px"
              alt="logo marca de taberna"
            />
          </p>
          <div class="location animate-up">
            <strong>Ceará</strong>
            <p>Fortaleza</p>
          </div>
        </header>

        <main>
          <!--Conteúdo principal da página-->
          <h1 class="animate-up">"i solemnly swear that i am up to no good"</h1>

          <section class="magic">
            <p class="animate-up">Basta dizer as palavras certas!</p>

            <a
              href="/bestplaces"
              title="entre na taberna"
              class="animate-up"
            >
              <img
                src="/image/images/arrow-white.svg"
                width="50"
                alt="ir para a tarbena"
              />
            </a>
          </section>
        </main>
      </div>
    </div>
  </body>
</>
